:root {
  --mainFontFamily: "Mulish", sans-serif;
  --mainColor: #458ff6;
  --mainTextColor: #7d7987;
  --colorBlack: #233348;
  --colorWhite: #ffffff;
  --homeLinkColor: #1f1534;
  --introLinkColor: #000000;
}
